/* GENERAL */
body {
  font-family: Arial;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, rgb(9, 56, 142), rgb(31, 167, 140));
  margin-top: 30px;
}

.game-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 550px auto;
  min-height: 100vh;
}

/* MAIN GAME */
.main-game {
  color: white;
  border-radius: 20px;
  width: 550px;
  height: 600px;
  padding-top: 30px;
  padding-left: 12px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

/* ICON & BUTTON */
.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 75px;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}

.move-button:hover {
  background-color: rgb(50, 62, 174);
}

/* RESULT & SCORE */
.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.js-moves {
  font-size: 20px;
}

.score {
  margin-top: 30px;
  font-size: 18px;
}

.reset-score-button {
  background-color: rgb(255, 217, 94);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 30px;
}

.reset-score-button:hover {
  background-color: rgb(255, 228, 131);
}

.game-details {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.game-details-heading {
  color:  rgb(255, 217, 94);
}