/* GENERAL */
body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN GAME */
.main-game {
  margin: 50px 50px;
  border: 1px solid;
  border-radius: 4px;
  width: 400px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
  background: linear-gradient(180deg, rgb(9, 56, 142), rgb(31, 167, 140));
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

/* ICON & BUTTON */
.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}